<div class="card">
  <div class="card-header">
    <h3>Driver Details</h3>
  </div>

  <div class="card-body" *ngIf="driver">

    <div>
      <label><b>UserName:</b></label>{{driver.username}}
    </div>
    <div>
      <label><b>Email Id:</b></label>{{driver.email}}
    </div>
    <div>
      <label><b>Mobile No:</b></label>{{driver.mobileNo}}
    </div>
    <div>
      <label><b>Lisence No:</b></label>{{driver.lisenceNo}}
    </div>
    <div>
      <label><b>Rating:</b></label>{{driver.rating}}
    </div>
    <div>
      <label><b>Cab :</b></label>{{driver.cab}}
    </div>
    <div>
      <label><b>Vaccination Status :</b></label>{{driver.vaccinationStatus}}
    </div>

    <button (click)="back()" class="btn btn-primary">Back to List</button>

  </div>