<div class="card">
    <div class="card-header">
        <h3>Driver List</h3>
    </div>

    <div class="container">
        <div class="table-responsive table-striped">
            <button class="btn btn-danger" style="width:100px" 
            (click)="addDriver()" > Add Driver</button>
            <table class="table mb-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Lisence_No</th>
                        <th>Rating</th>
                        <th>Cab</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let driver of driverlist">
                        <td class="hidden"></td>
                        <td>{{driver.id}}</td>
                        <td>{{driver.username}}</td>
                        <td>{{driver.driverName}}</td>
                        <td>{{driver.lisenceNo}}</td>
                        <td>{{driver.rating}}</td>
                        <td>{{driver.cab}}</td>
                        <td>
                            <button class="btn btn-success" (click)= "editDriver(driver)" style="margin-left: 20px;">
                                Edit
                            </button>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>