<div class="card">
    <div class="card-header">
      Not Allocated Trips
    </div>
  
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="notAllocatedList && notAllocatedList.length">
          <thead>
            <tr>
              <th>Id</th>
              <th>From Location</th>
              <th>To Location</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of notAllocatedList">
              <td>
                {{trip.id}}
              </td>
              <td>{{ trip.fromLocation}}</td>
              <td>{{ trip.toLocation }}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm" (click)='acceptTrip(trip.id)'>
                  Accept
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>

