<div class="col-md-6">
    <h2 class="text-center">Cab Booking</h2>
    <form [formGroup]="addForm"  (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="fromLocation">Current Location:</label>
        <input  formControlName="fromLocation"
         placeholder="Current Location" name="fromLocation"
          class="form-control" id="fromLocation">
      </div>
    
      <div class="form-group">
        <label for="toLocation">To Location:</label>
        <input formControlName="toLocation"
        placeholder="Destination"
         name="toLocation" 
         class="form-control"
          id="toLocation">
      </div>

      <div class="form-group">
        <label for="toLocation">Distance In KM:</label>
        <input formControlName="distanceInKm"
        placeholder="Distance"
         name="distanceInKm" 
         class="form-control"
          id="distanceInKm">
      </div>
    
    
      <button type="submit">Submit</button>
    </form>
    </div>
