<div class="card">
    <div class="card-header">
      All Trip Bookings
    </div>
  
  
      <div class="table-responsive table-striped">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer</th>
              <th>From Location</th>
              <th>To Location</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of tripbookinglst">
              <td>
                {{trip.id}}
              </td>
              <td></td> 
              <td>{{ trip.fromLocation}}</td>
              <td>{{ trip.toLocation }}</td>
              <td>{{trip.status}}</td>
              <td><button [routerLink]="[trip.id]">View Details</button></td>
              <td><button [routerLink]="[trip.id,'edit']">Edit</button></td>
              <td><button (click)='delete(trip.id)'>Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>


