<p>customer-edit works!</p>
<div class="col-md-6 user-container">
    <h2 class="text-center">Edit Customer</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
        </div>
        <div class="form-group"> 
        <label for="username">User Name:</label>
        <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" readonly="true" >
      </div>
  
      
      <div class="form-group">
        <label for="Password">Password</label>
        <input formControlName="password" type="password" placeholder="password" name="password" class="form-control" id="password" readonly="true">
      </div>
  
      <div class="form-group">
        <label for="Role">Role</label>
        <input type="text" formControlName="role" placeholder="role" name="role" class="form-control" id="role" readonly="true">
      </div>
      <div class="form-group">
        <label for="customerName">Customer Name</label>
        <input type="text" formControlName="customerName" placeholder="customerName" name="customerName" class="form-control" id="customerName" >
      </div>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" formControlName="mobileNumber" placeholder="mobileNumber" name="mobileNumber" class="form-control" id="mobileNumber" >
      </div>
      <div class="form-group">
        <label for="emailId">Email Id</label>
        <input type="text" formControlName="emailId" placeholder="emailId" name="emailId" class="form-control" id="emailId" >
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" placeholder="address" name="address" class="form-control" id="address" >
      </div>
      <div class="form-group">
        <label for="accountStatus">Account Status</label>
        <input type="text" formControlName="accountStatus" placeholder="accountStatus" name="accountStatus" class="form-control" id="accountStatus" >
      </div>
      <div class="form-group">
        <label for="tripBooking">Account Status</label>
        <input type="text" formControlName="tripBooking" placeholder="tripBooking" name="tripBooking" class="form-control" id="tripBooking" >
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>