<p>customer-list works!</p>
<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Customer Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="insertCustomer()"> Add Customer</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>UserName</th>
        <th>Role</th>
        <th class="hidden">Password</th>
        <th>CustomerName</th>
        <th>MobileNumber</th>
        <th>EmailId</th>
        <th>Address</th>
        <th>AccountStatus</th>
        <th>TripBooking</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of customers">
        
        <td ><button  (click)="deleteCustomer(c)" class="btn-btn-danger"> Delete</button></td>
        <td > <button (click)="updateCustomer()"  class="btn-btn-info" style="margin-left: 20px">Update</button></td>
      </tr>
      </tbody>
    </table>
  </div>