<p>customer-add works!</p>
<div class="col-md-6 user-container">
    <h2 class="text-center">Add Customer</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" >
      </div>
  
      
      <div class="form-group">
        <label for="Password">Password</label>
        <input formControlName="password" type="password" placeholder="password" name="password" class="form-control" id="password">
      </div>
  
      <div class="form-group">
        <label for="Role">Role</label>
        <input type="text" formControlName="role" placeholder="role" name="role" class="form-control" id="role">
      </div>
      <div class="form-group">
        <label for="customername">Customer Name</label>
        <input type="text" formControlName="customername" placeholder="customername" name="customername" class="form-control" id="customername" >
      </div>
      <div class="form-group">
        <label for="mobilenumber">Mobile Number</label>
        <input type="text" formControlName="mobilenumber" placeholder="mobilenumber" name="mobilenumber" class="form-control" id="mobilenumber" >
      </div>
      <div class="form-group">
        <label for="emailId">Email Id</label>
        <input type="email" formControlName="emailId" placeholder="emailId" name="emailId" class="form-control" id="emailId" >
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" placeholder="address" name="address" class="form-control" id="address" >
      </div>
      <div class="form-group">
        <label for="accountstatus">Account Status</label>
        <input type="text" formControlName="accountstatus" placeholder="accountstatus" name="accountstatus" class="form-control" id="accountstatus" >
      </div>
      <input type="submit" value="Add Customer" class="btn btn-success">
    </form>
  </div>